section.autoUSA 
  .container 
    .content-wrap
      .resources
        ul.menu 
          li.item 
            a(href="").link
              img.link-image(src="assets/svg/autoUSA/facebook.svg")
          li.item 
            a(href="").link
              img.link-image(src="assets/svg/autoUSA/inst.svg")
          li.item 
            a(href="").link
              img.link-image(src="assets/svg/autoUSA/youtube.svg")
      .content
        .text-wrap
          h1.h1-play.title.c1.dold.
            Автомобиль прямо из США
          h3.h3-roboto.subtitle.c1.bold.
            Нужен автомобиль из США?
            Обращайтесь.
          p.paragraph-big.text.c1. 
            Мы можем подобрать такой, который полностью<br/>
            удовлетворит ваши запросы.
        button.btn-choose-car.bg3
          img.image-car(src="assets/svg/autoUSA/car-btn.svg")
          p.paragraph-big.caps.btn-text.c1.bold.
            подобрать</br>
            авто