section.carousel 
  .container 
    .reactangle.bg5
      .content
        .icon-wrap
          include ../assets/svg/carousel/ico-top.svg
        h2.h2-play.title.bold.c6. 
          Популярные авто
      .main-carousel
        .block1.bg1
          .image
          .reactangle-wrap
            .reactangle-grey.bg5
              h4.h4-play.car-name.caps.
                Toyota Sienna
            .reactangle-red.bg3
              h4.h4-play.car-price.c1.
                от 13 000 $
          .charact-wrap
            .charact-item
              .charact-content
                .icon
                  include ../assets/svg/carousel/oil.svg
                p.text.paragraph. 
                  Топливо:
                span.mean.bold.
                  бензин
              .charact-content
                .icon
                  include ../assets/svg/carousel/electric.svg
                p.text.paragraph. 
                  коробка передач:
                span.mean.bold.
                  автомат
            .charact-item
              .charact-content
                .icon
                  include ../assets/svg/carousel/drive-unit.svg
                p.text.paragraph. 
                  Привод:
                span.mean.bold.
                  передний
              .charact-content
                .icon
                  include ../assets/svg/carousel/date.svg
                p.text.paragraph. 
                  Год:
                span.mean.bold.
                  2012
            .charact-item
              button.btn-choose.
                Выбрать
        .block2.bg1.active
          .image
          .reactangle-wrap
            .reactangle-grey.bg5
              h4.h4-play.car-name.
                Volkswagen Jetta
            .reactangle-red.bg3
              h4.h4-play.car-price.c1.
                от 13 000 $
          .charact-wrap
            .charact-item
              .charact-content
                .icon
                  include ../assets/svg/carousel/oil.svg
                p.text.paragraph. 
                  Топливо:
                span.mean.bold.
                  бензин
              .charact-content
                .icon
                  include ../assets/svg/carousel/electric.svg
                p.text.paragraph. 
                  коробка передач:
                span.mean.bold.
                  автомат
            .charact-item
              .charact-content
                .icon
                  include ../assets/svg/carousel/drive-unit.svg
                p.text.paragraph. 
                  Привод:
                span.mean.bold.
                  передний
              .charact-content
                .icon
                  include ../assets/svg/carousel/date.svg
                p.text.paragraph. 
                  Год:
                span.mean.bold.
                  2019
            .charact-item
              button.btn-choose.
                Выбрать авто
        .block3.bg1
          .image
          .reactangle-wrap
            .reactangle-grey.bg5
              h4.h4-play.car-name.caps.
                Nissan rogue
            .reactangle-red.bg3
              h4.h4-play.car-price.c1.
                от 14 000 $
          .charact-wrap
            .charact-item
              .charact-content
                .icon
                  include ../assets/svg/carousel/oil.svg
                p.text.paragraph. 
                  Топливо:
                span.mean.bold.
                  бензин
              .charact-content
                .icon
                  include ../assets/svg/carousel/electric.svg
                p.text.paragraph. 
                  коробка передач:
                span.mean.bold.
                  автомат
            .charact-item
              .charact-content
                .icon
                  include ../assets/svg/carousel/drive-unit.svg
                p.text.paragraph. 
                  Привод:
                span.mean.bold.
                  полный
              .charact-content
                .icon
                  include ../assets/svg/carousel/date.svg
                p.text.paragraph. 
                  Год:
                span.mean.bold.
                  2018
            .charact-item
              button.btn-choose.
                Выбрать
      .group-wrap
        .group
          .arrow-left
            img(src="assets/svg/carousel/arrow-left.svg")
          .indicator
          .active 
            img(src="assets/images/carousel/ico-auto-slide.png")
          .indicator 
          .indicator 
          .indicator 
          .indicator 
          .indicator 
          .indicator 
          .indicator 
          .indicator 
          .arrow-right
            img(src="assets/svg/carousel/arrow-right.svg")


        
