section.find 
  .container
    .content  
      h4.h4-play.slogan.c2.caps.bold.
        ИСКАЛИ НАДЕЖНУЮ КОМПАНИЮ, ЧТОБЫ С ЕЕ ПОМОЩЬЮ ПРИОБРЕСТИ АВТОМОБИЛЬ ИЗ США?
      h4.h4-roboto.answer.c1.bold. 
        Вы ее нашли.
    .reactangle-wrap
      .reactangle
        .key
          include ../assets/svg/find/key.svg
        .text-wrap
          p.title.paragraph-big.c6.bold.
            МЫ ПРЕДЛАГАЕМ КЛИЕНТАМ УСЛУГИ «ПОД КЛЮЧ».
          p.text.paragraph-big.c6. 
            Мы доставим авто, решим все вопросы на таможне,
            а в случае необходимости проведем
            ремонтные работы и поставим машину на учет.