header.header
  .container
    .grid
      a(href="").logo
        img.logo-img(src="assets/svg/header/logo.svg", alt="")
      .phone-wrap.phone-1
        p.paragraph-min.city.c1. 
          Одесса:
        p.paragraph.phone.c1.
          096 262-1532, 050 933-5552
      .phone-wrap.phone-2
        p.paragraph-min.city.c1. 
          Винница:
        p.paragraph.phone.c1.
          095 216-2888
      .phone-wrap.phone-3
        p.paragraph-min.city.c1. 
          Днепр:
        p.paragraph.phone.c1.
          068 636-4241
      .phone-mobile 
        img(src="assets/svg/header/phone-mobile.svg").phone-mobile-img
      .order 
        img.order-icon(src="assets/svg/header/icon-consultation.svg", alt="")
        p.paragraph-min.c1. 
          Заказать</br>
          консультацию
      .lang 
        button.paragraph-min.btn-lang.c3.active.
          Укр
        button.paragraph-min.btn-lang.c3.
          Ру
      nav.nav 
        ul.menu 
          li.item 
            a(href="").link.introduction.c1.
              Популярные авто
          li.item 
            a(href="").link.introduction.c1.
              Подбор авто
          li.item 
            a(href="").link.introduction.c1.
              Авто в наличии
          li.item 
            a(href="").link.introduction.c1.
              Этапы покупки
          li.item 
            a(href="").link.introduction.c1.
              Видеоотзывы
          li.item 
            a(href="").link.introduction.c1.
              Вопросы и ответы
          li.item 
            a(href="").link.introduction.c1.
              Контакты
      .menu-mobile
        img(src="assets/svg/header/menu-mobile.svg").menu-mobile-img