section.services
  .container 
    .list 
      .block
        .title-wrap
          img.icon(src="assets/svg/services/pig.svg", alt="")
          h4.h4-play.title1.bold.c2. 
            Предлагаем только лучшие тарифы
        p.text.paragraph.c1. 
          Чем они отличаются от аналогичных? Тем, что созданы для людей.
          Низкие ставки у нас обусловлены тем, что мы тщательно продумали все моменты,
          касающиеся логистики. Большие обороты обеспечивают минимизацию транспортных издержек.
          Эти и многие другие причины и объясняют то,
          что предлагаемые нами тарифы являются исключительно выгодными.
      .block.block-big
        .title-wrap
          img.icon(src="assets/svg/services/medal.svg", alt="")
          h4.h4-play.title2.bold.c2.
            Гарантируем лучшие условия
        p.text.paragraph.c1. 
          В штате нашей компании ведут деятельность граждане США.
          Они знают толк в американских автомобилях. Благодаря этому вы
          можете подобрать и купить авто из Соединенных Штатов, полностью удовлетворяющее ваши потребности и желания.
          <br/>
          <br/>
          Мы предлагаем клиентам возможность контроля движения авто. Вы всегда можете отследить текущее местоположение корабля с контейнером,
          в котором находиться Ваш автомобиль. Если будет нужно, мы позаботимся о фотографиях
          со всех ракурсов.
          <br/>
          <br/>
          ЕСЛИ У ВАС ВОЗНИКНУТ ВОПРОСЫ,
          ПЕРСОНАЛЬНЫЙ МЕНЕДЖЕР ПОМОЖЕТ РЕШИТЬ ИХ В ЛЮБОЕ ВРЕМЯ СУТОК.
          <br/>
          <br/>
          Это лишь часть преимуществ сотрудничества с нами.
      .block
        .title-wrap
          img.icon(src="assets/svg/services/map.svg", alt="")
          h4.h4-play.title3.bold.c2. 
            Логистика под контролем
        p.text.paragraph.c1.
          Мы уже отметили, что позаботились о том, чтобы продумать все моменты, касающиеся логистики. Это гарантирует не только снижение издержек, но и безопасность грузов.
      