@import "common";
@import "header";
@import "autoUSA";
@import "find";
@import "services";
@import "carousel";

.bg_black {
  background-color: $c6;
  position: relative;
  overflow: hidden;
  min-height: 13800px;
}

.car_bg {
  background: transparent url("../assets/images/car_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  @media (max-width: 1800px) {
    background-position: left 0;
  }
  @media (max-width: 400px) {
    background-position: -20px 0;
  }
  
}

.salon_bg {
  background: transparent url("../assets/images/salon.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;
  @media(max-width: 1300px){
    margin-bottom: 65px;
  }
  @media(max-width: 1100px){
    background-position: -200px 0;
    height: 115vh;
    margin-bottom: 0;
  }
}

.ellipse-white {
  width: 737px;
  height: 800px;
  background: transparent url("../assets/images/ellipse_white.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100%;
  position: absolute;
  top: -3.5%;
  left: -7%;
  z-index: 2;
  @media (max-width: 1024px) {
    left: -20%;
  }
  @media (max-width: 760px) {
    width: 400px;
    top: -1.5%;
    left: -8%;
  }
  @media (max-width: 460px) {
    width: 170px;
    top: -0.5%;
    left: -12%;
  }
}

.ellipse-red {
  width: 100%;
  background: transparent url("../assets/images/ellipse_red.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -55%;
  top: 1.2%;
  height: 902px;
}

.ellipse-red2 {
  width: 100%;
  background: transparent url("../assets/images/ellipse_red.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -40%;
  top: 8%;
  height: 800px;
  @media (max-width: 1024px) {
    right: -12%;
    top: 12.6%;
  }
}

.ellipse-red3 {
  width: 100%;
  background: transparent url("../assets/images/ellipse_red_3.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -17.5%;
  top: 16.5%;
  height: 1000px;
  @media (max-width: 1024px) {
    right: 0;
    top: 20.5%;
  }
}

.main {
  position: relative;
  .btn-right {
    position: absolute;
    top: 40%;
    right: 0;
    z-index: 100;
    cursor: pointer;
    @media(max-width: 1000px){
      top: 80%;
    }
    svg{
      @media(max-width: 450px){
        width: 80px;
        height: 86px;
      }
    }
  }


}
